@media (max-width: 425px){
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .firstSection{
        width: 100%;
    }
    .bg__firstContainer{
        max-width: 100%;
    }
}

@media (max-width: 425px){
    .secondSection__blocks{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 425px){
    .firstSection__container{
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .buttons{
        margin-top: 40px;
        max-width: 412px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .firstSection__text{
        padding: 0px 19px;
        text-align: center;
    }
    .second__button{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .button__two{
        padding: 10px 36px;
        white-space: nowrap;
    }
}

@media (max-width: 768px){
    .secondSection__blocks{
        gap: 30px;
    }
    .secondSection__text{
        padding: 0px 94.5px 75px 94.5px;
    }
}
@media (max-width: 425px) {
    .firstSection__logo{
        margin: 48px 78px;
    }
}

@media (max-width: 768px){
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
   .header__burger:before,
   .header__burger:after{
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
   }
   .header__burger:before{
    top: 0;
   }
   .header__burger:after{
    bottom: 0;
   }
   .header__burger span{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
   }
   .header__nav{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    overflow: auto;
    background-color: white;
    transition: all 0.5s ease 0s;
   }
   .header__nav.active{
    top: 0;
   }
   .header__logo{
    z-index: 3;
    display: flex;
   }
   .header__icon{
        display: none;
   }
   body.lock{
    overflow: hidden;
   }
} 