*{
    box-sizing: border-box;
}

body{
    margin: 0px auto;
}

/* .background__img{
    width: 100%;
} */
.container{
    max-width: 1050px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg__firstContainer {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/background.png');
    background-size: cover;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}
.logo__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    text-decoration: none;
}
.header__logo{
    margin: 40px 0px 10px 0px;
}
.header__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
    cursor: pointer;
    margin: 40px 21px 0px 0px;
}
.header__icon{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
    cursor: pointer;
    margin: 40px 22px 0px 39px;
}
.header__nav{
    display: flex;
    justify-content: space-around;
}
.firstSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.7);
}
.firstSection__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 40px;
}
.form__logo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}
.form__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.form__input{
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 11px 0px 11px 21px;
}
.form{
    width: 245px;
}
.select{
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;      /*Как подвинуть стрелочку?*/
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 11px 0px 11px 18px;
}
.form__button{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FF7B47;
    border-radius: 5px;
    align-self: stretch;
    cursor: pointer;
    border-style: none;
    width: 100%;
    padding: 15px 40px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.firstSection__logo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.firstSection__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
}
.firstSection__container{
    width: 600px;
}
.button__one{
    padding: 0px;
    background: #FF7B47;
    border-radius: 37px;
    border-style: none;
    cursor: pointer;
    padding: 14px 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}
.button__two{
    padding: 9px 1px;
    border: 1px solid #0D5C63;
    border-radius: 37px;
    background-color: rgb(255, 255, 255, 0);
    cursor: pointer;
    padding: 14px 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #0D5C63;
    text-decoration: none;
}

.buttons{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}
.secondSection{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}
.secondSection__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.firstBlock__prewiev{
    display: flex;
    padding: 30px 42px;
    width: 100%;
    justify-content: space-between;
}
.secondSection__logo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}
.secondSection__text{
    max-width: 500px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding-bottom: 80px;
    margin: 0px;
}
.secondSection__blocks{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.firstBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9EDFF;
    border-radius: 10px;
}
.firstBlock__text{
    width: 328px;                 /*Как тут ограничить ширину иначе*/
    background: #FFFFFF;
    border: 1px solid #A9D6FF;
    border-radius: 11px;
    padding: 30px 44px 25px 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0px;
}
.firstBlock__logo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.firstBlock__img{
    background: #FFFFFF;
    border-radius: 200px;
    width: 72px;
    height: 72px;
}
.firstBlock__point{
    margin: 0px;
    padding-bottom: 5px;
    text-align: left;
}
.firstBlock__link{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FF7B47;
}